@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 150 8% 5%;

    --card: 120 8% 97%;
    --card-foreground: 150 8% 5%;

    --popover: 120 8% 97%;
    --popover-foreground: 150 8% 5%;

    --primary: 175 77% 26%;
    --primary-foreground: 0 0% 98%;

    --secondary: 180 6% 93%;
    --secondary-foreground: 150 8% 5%;

    --muted: 180 6% 93%;
    --muted-foreground: 176 6% 45%;

    --accent: 180 6% 93%;
    --accent-foreground: 150 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 180 6% 90%;
    --input: 170 7% 82%;
    --ring: 174 24% 74%;

    --radius: 0.5rem;
  }
  
  .dark {
    --background: 180 3% 6%;
    --foreground: 0 0% 98%;

    --card: 180 6% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 180 6% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 173 80% 40%;
    --primary-foreground: 0 0% 2%;

    --secondary: 165 5% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 170 5% 22%;
    --muted-foreground: 175 5% 49%;

    --accent: 175 45% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 180 5% 12%;
    --input: 180 4% 18%;
    --ring: 173 80% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}