@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 8% 5%;

    --card: 0 0% 98%;
    --card-foreground: 240 8% 5%;

    --popover: 0 0% 98%;
    --popover-foreground: 240 8% 5%;

    --primary: 221 83% 53%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 7% 94%;
    --secondary-foreground: 240 8% 5%;

    --muted: 210 7% 94%;
    --muted-foreground: 223 6% 45%;

    --accent: 210 7% 94%;
    --accent-foreground: 240 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 6% 90%;
    --input: 216 6% 83%;
    --ring: 221 24% 75%;

    --radius: 0.5rem;
  }
  
  .dark {
    --background: 180 4% 5%;
    --foreground: 0 0% 98%;

    --card: 180 4% 5%;
    --card-foreground: 0 0% 98%;

    --popover: 180 4% 5%;
    --popover-foreground: 0 0% 98%;

    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 2% 10%;
    --secondary-foreground: 0 0% 98%;

    --muted: 210 3% 15%;
    --muted-foreground: 216 2% 49%;

    --accent: 220 18% 10%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 2% 12%;
    --input: 210 2% 18%;
    --ring: 217 91% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}